.middle-container {
    display: flex;
    width: 100%;
    min-height: 94vh;
    height: auto;
    background-size: 100% 100%;
    background-image: url('/images/rsz_paper-real-background.jpg');
    opacity: 0.6;
    padding-bottom: 20px;
}