$primary: #000000;
$secondary: #000000;
$text: #000000;

$half-black: rgba(0, 0, 0, 0.5);;
$black: #000;


$break-t: 768px;
$break-lt: 992px;
$break-lg: 1220px;
$break-xl: 1440px;

$white: #fff;

$hover-color: hsla(48, 90%, 43%, 0.66);