.flex-center {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-center-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-column-center-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-column-center-align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-space-between-align-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}