.MuiTreeItem-content {
  width: 110%;
}
.MuiTreeItem-content:hover, .MuiTreeItem-content.Mui-selected {
  width: 110%;
}
.MuiTreeItem-content .MuiTreeItem-iconContainer svg {
  font-size: 45px !important;
}

.no-tree-item {
  display: none !important;
}

body {
  margin: 0 !important;
  overflow-x: hidden;
  font-family: "Open Sans";
  font-size: 12px;
  background-image: url("/images/background.webp");
  background-size: contain;
  background-attachment: scroll;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

#root {
  width: 100%;
  height: 100%;
}

.main-container {
  width: 100%;
}

.submit-button {
  border: 1px solid #fff !important;
  color: #fff !important;
  border-radius: 15px !important;
  background: rgba(255, 255, 255, 0.5);
}
.submit-button:hover {
  background-color: rgb(138, 128, 14) !important;
}

.error-message {
  color: rgb(255, 0, 0);
  font-size: 16px;
  margin-top: 5px;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutOpacitiy {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.MuiFormHelperText-root {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.center-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.content-container {
  margin: 0 190px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}
@media screen and (min-width: 1441px) {
  .content-container {
    margin: 0 240px;
    margin-top: 20px;
  }
}

.MuiTabs-scroller .MuiTabs-indicator {
  height: 100%;
  background: rgba(208, 169, 11, 0.5);
  border-radius: 15px;
}

.action-cells {
  display: flex;
}
.action-cells .action-cell {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 100%;
}
.action-cells .action-cell:hover {
  cursor: pointer;
}
.action-cells .action-cell svg {
  height: 100px !important;
  margin-right: 10px;
}
.action-cells .action-cell:last-child {
  margin-left: 10px;
}

.MuiDataGrid-root {
  border: 1px solid #000 !important;
  border-radius: 15px !important;
  border-start-start-radius: unset !important;
  border-start-end-radius: unset !important;
}
.MuiDataGrid-root .MuiDataGrid-toolbarContainer {
  border-bottom: 1px solid #000 !important;
}
.MuiDataGrid-root .MuiDataGrid-toolbarContainer .MuiButtonBase-root {
  color: #000 !important;
}

.MuiButton-startIcon {
  margin: 0 !important;
}

.BaseBadge-root {
  margin: 0 !important;
}

.MuiDataGrid-toolbarContainer {
  padding-top: 0 !important;
}
.MuiDataGrid-toolbarContainer .add-item {
  display: flex;
  align-items: center;
  border-left: 1px solid #000;
  margin-left: auto;
  padding: 12px 0;
  cursor: pointer;
}
.MuiDataGrid-toolbarContainer .add-item svg {
  margin-left: 5px;
  margin-right: 5px;
}
.MuiDataGrid-toolbarContainer .add-item span {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
.MuiDataGrid-toolbarContainer .add-item:active {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
  background: rgba(0, 0, 0, 0.5);
}
.MuiDataGrid-toolbarContainer .MuiButtonBase-root {
  border-right: 1px solid #000;
  border-radius: unset;
  height: 100%;
  padding: 12px 5px;
}

.MuiDataGrid-panel {
  transform: translate3d(190px, 232.5px, 0px) !important;
}

.MuiDataGrid-menuIcon {
  border-right: 1px solid black;
}

.MuiDataGrid-columnHeaders {
  background-image: url("/images/header-background.jpeg");
  border-radius: 0 !important;
}

.MuiDataGrid-columnSeparator {
  display: none !important;
}

.MuiDataGrid-columnHeaderTitleContainer {
  border-right: 1px solid #000;
  font-size: 18px;
}

.MuiDataGrid-columnHeader:focus {
  outline: none !important;
}

.MuiDataGrid-cell:focus {
  outline: solid 1px black !important;
}

.MuiDataGrid-cell {
  border-right: 1px solid #000;
}
.MuiDataGrid-cell:last-child {
  border-right: unset !important;
}

.flex-center, #root {
  display: flex;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align-center, .admin-nav.active .help-panel, .navigation-menu.active .help-panel {
  display: flex;
  align-items: center;
}

.flex-center-align-center, .welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column, .register-form, .login-form, .main-container {
  display: flex;
  flex-direction: column;
}

.flex-column-center-align, .sign-up, .login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-column-center-align-center, .admin-nav, .navigation-menu.active, .navigation-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-space-between-align-center, .header .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik/AeonikPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NotoSerif";
  src: url("/fonts/NotoSerif/NotoSerif-Regular.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Western";
  src: url("/fonts/aeonik/Western.otf") format("opentype"), url("/fonts/aeonik/Western.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
.welcome-page {
  width: 100%;
  height: 100vh;
}
.welcome-page .text {
  color: #fff;
  font-size: 32px;
}

.login {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
  background-color: #000;
  width: 400px;
  border-radius: 30px;
  padding: 64px 24px;
}
.login .title {
  color: #fff;
  font-size: 24px;
}
.login .login-form {
  width: 70%;
}

.sign-up {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
  background-color: #000;
  width: 400px;
  border-radius: 30px;
  padding: 64px 24px;
}
.sign-up .title {
  color: #fff;
  font-size: 24px;
}
.sign-up .register-form {
  margin-top: 10px;
}
.sign-up .register-form .text-control {
  width: 100%;
}

.family-page {
  width: 100%;
}
.family-page .content-container {
  padding: 20px 0 20px;
}
.family-page .content-container span {
  font-size: 32px;
  font-family: "NotoSerif";
}
.family-page .content-container .family-tabs-container {
  width: 89%;
  margin: 20px 0;
  background-color: #000;
  padding: 15px;
  border-radius: 15px;
}
@media screen and (min-width: 1441px) {
  .family-page .content-container .family-tabs-container {
    width: auto;
    max-width: 1331px;
  }
}
.family-page .content-container .family-tabs-container .family-tabs .MuiTabScrollButton-root {
  display: none;
}
.family-page .content-container .family-tabs-container .family-tabs .family-tab {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  color: #000;
  font-weight: 700;
}
.family-page .content-container .family-tabs-container .family-tabs .family-tab:not(:first-child) {
  margin-left: 10px;
}
.family-page .content-container .familija {
  margin-bottom: 20px;
}
.family-page .content-container ul {
  height: auto;
}
.family-page .content-container ul li div .MuiTreeItem-label {
  font-size: 26px;
}
.family-page .content-container ul li ul div div li div .MuiTreeItem-label {
  font-size: 20px;
}

.MuiTreeView-root {
  max-width: fit-content !important;
}

.MuiCollapse-wrapperInner {
  min-width: max-content;
}

.admin-panel {
  width: 100%;
}
.admin-panel .content-container {
  align-items: unset;
  justify-self: unset;
}
.admin-panel .content-container .page-title {
  margin-top: 20px;
  font-size: 32px;
  text-align: center;
}
.admin-panel .content-container .admin-tabs {
  margin-top: 20px;
  margin-bottom: 15px;
  background-image: url("/images/header-background.jpeg");
  padding: 15px;
  border: 1px solid black;
}
.admin-panel .content-container .admin-tabs .admin-tab {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  color: #000;
  font-weight: 700;
}
.admin-panel .content-container .admin-tabs .admin-tab:not(:first-child) {
  margin-left: 10px;
}

.navigation-menu {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  width: 12%;
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
  justify-content: unset;
  z-index: 1;
  position: absolute;
  border-radius: 20px;
  padding: 10px 0;
}
.navigation-menu.active {
  z-index: 9999;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}
.navigation-menu.active .help-panel {
  width: 100%;
  justify-content: center;
}
.navigation-menu.active .help-panel img {
  width: 30px;
  height: 30px;
}
.navigation-menu.active .help-panel .logout-icon {
  transform: rotate(180deg);
}
.navigation-menu .nav-item {
  color: rgba(0, 0, 0, 0.7);
  font-family: NotoSerif;
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.navigation-menu .nav-item:hover {
  font-weight: 500;
  color: #fff;
  width: 100%;
  cursor: pointer;
  background-color: rgba(208, 169, 11, 0.5);
}

.admin-nav {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  width: 12%;
  height: 200px;
  margin-top: 5px;
  right: 0;
  margin-right: 5px;
  justify-content: unset;
  z-index: 1;
  position: absolute;
  border-radius: 20px;
}
.admin-nav.active {
  display: flex;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}
.admin-nav.active .help-panel:hover {
  font-weight: 500;
  color: #fff;
  width: 100%;
  cursor: pointer;
  background-color: rgba(208, 169, 11, 0.5);
}
.admin-nav.active .help-panel img {
  width: 30px;
  height: 30px;
}
.admin-nav.active .help-panel .logout-icon {
  transform: rotate(180deg);
}
.admin-nav .nav-item {
  color: rgba(0, 0, 0, 0.7);
  font-family: NotoSerif;
  font-size: 22px;
  display: flex;
  text-align: center;
}
.admin-nav .nav-item:hover {
  font-weight: 500;
  color: #fff;
  width: 100%;
  cursor: pointer;
  background-color: rgba(208, 169, 11, 0.5);
}

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.header .nav-bar {
  background-image: url("/images/header-background.jpeg");
  padding: 0 50px;
}
@media screen and (min-width: 1440px) {
  .header .nav-bar {
    padding: 0 60px;
  }
}
@media screen and (min-width: 1441px) {
  .header .nav-bar {
    padding: 0 90px;
  }
}
.header .nav-bar .MuiTextField-root {
  margin-left: auto;
}
.header .nav-bar .arrow-down {
  width: 20px;
  height: 20px;
}
.header .nav-bar .middle-group {
  display: flex;
  align-items: center;
}
.header .nav-bar .middle-group.search-active {
  margin-left: 215px;
}
.header .nav-bar .middle-group img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  -moz-animation: spinHorizontal 8s infinite linear;
  -o-animation: spinHorizontal 8s infinite linear;
  -webkit-animation: spinHorizontal 8s infinite linear;
  animation: spinHorizontal 8s infinite linear;
}
@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.header .nav-bar .middle-group .header-title {
  color: black;
  font-family: "NotoSerif";
  font-size: 32px;
  text-transform: uppercase;
  margin: 0 20px;
}
.header .nav-bar .flex-align-center .MuiFormControl-root label.Mui-focused, .header .nav-bar .navigation-menu.active .help-panel .MuiFormControl-root label.Mui-focused, .navigation-menu.active .header .nav-bar .help-panel .MuiFormControl-root label.Mui-focused, .header .nav-bar .admin-nav.active .help-panel .MuiFormControl-root label.Mui-focused, .admin-nav.active .header .nav-bar .help-panel .MuiFormControl-root label.Mui-focused {
  color: black;
}
.header .nav-bar .flex-align-center .MuiFormControl-root .MuiInputAdornment-root, .header .nav-bar .navigation-menu.active .help-panel .MuiFormControl-root .MuiInputAdornment-root, .navigation-menu.active .header .nav-bar .help-panel .MuiFormControl-root .MuiInputAdornment-root, .header .nav-bar .admin-nav.active .help-panel .MuiFormControl-root .MuiInputAdornment-root, .admin-nav.active .header .nav-bar .help-panel .MuiFormControl-root .MuiInputAdornment-root {
  height: 100%;
}
.header .nav-bar .flex-align-center .MuiFormControl-root .MuiInputAdornment-root .MuiSvgIcon-root, .header .nav-bar .navigation-menu.active .help-panel .MuiFormControl-root .MuiInputAdornment-root .MuiSvgIcon-root, .navigation-menu.active .header .nav-bar .help-panel .MuiFormControl-root .MuiInputAdornment-root .MuiSvgIcon-root, .header .nav-bar .admin-nav.active .help-panel .MuiFormControl-root .MuiInputAdornment-root .MuiSvgIcon-root, .admin-nav.active .header .nav-bar .help-panel .MuiFormControl-root .MuiInputAdornment-root .MuiSvgIcon-root {
  cursor: pointer;
  margin-bottom: 18px;
}
.header .nav-bar .flex-align-center .MuiFormControl-root .MuiInputAdornment-root .MuiSvgIcon-root:hover, .header .nav-bar .navigation-menu.active .help-panel .MuiFormControl-root .MuiInputAdornment-root .MuiSvgIcon-root:hover, .navigation-menu.active .header .nav-bar .help-panel .MuiFormControl-root .MuiInputAdornment-root .MuiSvgIcon-root:hover, .header .nav-bar .admin-nav.active .help-panel .MuiFormControl-root .MuiInputAdornment-root .MuiSvgIcon-root:hover, .admin-nav.active .header .nav-bar .help-panel .MuiFormControl-root .MuiInputAdornment-root .MuiSvgIcon-root:hover {
  filter: invert(18%) sepia(69%) saturate(7486%) hue-rotate(359deg) brightness(108%) contrast(124%);
}
.header .nav-bar .flex-align-center .MuiFormControl-root .MuiInput-root:before, .header .nav-bar .navigation-menu.active .help-panel .MuiFormControl-root .MuiInput-root:before, .navigation-menu.active .header .nav-bar .help-panel .MuiFormControl-root .MuiInput-root:before, .header .nav-bar .admin-nav.active .help-panel .MuiFormControl-root .MuiInput-root:before, .admin-nav.active .header .nav-bar .help-panel .MuiFormControl-root .MuiInput-root:before {
  color: black;
}
.header .nav-bar .flex-align-center .MuiFormControl-root .MuiInput-root:after, .header .nav-bar .navigation-menu.active .help-panel .MuiFormControl-root .MuiInput-root:after, .navigation-menu.active .header .nav-bar .help-panel .MuiFormControl-root .MuiInput-root:after, .header .nav-bar .admin-nav.active .help-panel .MuiFormControl-root .MuiInput-root:after, .admin-nav.active .header .nav-bar .help-panel .MuiFormControl-root .MuiInput-root:after {
  border: 2px solid black;
}
.header .nav-bar .arrow-down:first-child {
  margin-left: 20px;
}
.header .nav-bar .arrow-down:last-child {
  margin-right: 20px;
}

.search-result-container {
  position: absolute;
  height: 51vh;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  z-index: 2;
  padding: 80px 190px;
  overflow: hidden;
}
@media screen and (min-width: 1920px) {
  .search-result-container {
    padding: 40px 240px;
  }
}
.search-result-container .search-result {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 380px);
  height: 100%;
  overflow-y: scroll;
}
.search-result-container .search-result .no-result-text {
  width: 100%;
}
.search-result-container .search-result .no-result-text .paragraph {
  font-size: 20px;
  line-height: 28px;
  color: white;
}
@media screen and (min-width: 1920px) {
  .search-result-container .search-result {
    width: calc(100% - 480px);
  }
}
.search-result-container .search-result .MuiPaper-root {
  border: 1px solid goldenrod;
  background-image: url("/images/biography-bg.webp");
  background-size: 100% 100%;
  max-width: 277px;
  width: 33.33%;
  margin-bottom: 25px;
  margin-right: 8%;
  max-height: 225px;
}
.search-result-container .search-result .MuiPaper-root .card-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  min-height: 58px;
}
.search-result-container .search-result .MuiPaper-root .card-content-container .address {
  font-size: 16px;
}
.search-result-container .search-result .MuiPaper-root .card-content-container .address a {
  font-size: 14px;
  text-decoration: underline;
}
.search-result-container .search-result .MuiPaper-root .card-content-container .address a:hover {
  text-decoration: unset;
  color: blue;
}
.search-result-container .search-result .MuiPaper-root .card-content-container .family {
  font-size: 16px;
  margin-top: 15px;
}
.search-result-container .search-result .MuiPaper-root .MuiCollapse-root {
  padding-bottom: 30px;
  overflow: hidden;
}
.search-result-container .search-result .MuiPaper-root .MuiCollapse-root .MuiCollapse-wrapper .MuiCollapse-wrapperInner .MuiCardContent-root {
  overflow-y: scroll;
}
.search-result-container .search-result .MuiPaper-root .MuiCollapse-root .MuiCollapse-wrapper .MuiCollapse-wrapperInner .MuiCardContent-root .MuiTypography-root {
  max-height: 150px;
}
.search-result-container .search-result .MuiPaper-root .MuiCardHeader-root .MuiCardHeader-title {
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.search-result-container .search-result .MuiPaper-root .MuiCardHeader-root .MuiCardHeader-subheader {
  font-size: 16px;
  color: black;
}
.search-result-container .search-result .MuiPaper-root:nth-child(3n) {
  margin-right: 0;
}
@media screen and (min-width: 1920px) {
  .search-result-container .search-result .MuiPaper-root {
    width: 22%;
    margin-right: 7%;
  }
  .search-result-container .search-result .MuiPaper-root:nth-child(3n) {
    margin-right: 7%;
  }
  .search-result-container .search-result .MuiPaper-root:nth-child(4n) {
    margin-right: 0;
  }
}

.middle-container {
  display: flex;
  width: 100%;
  min-height: 94vh;
  height: auto;
  background-size: 100% 100%;
  background-image: url("/images/rsz_paper-real-background.jpg");
  opacity: 0.6;
  padding-bottom: 20px;
}

.help-dialog .MuiPaper-root {
  display: flex;
  align-items: center;
  background-image: url("/images/modal-background.jpeg");
  background-size: contain;
}
.help-dialog .MuiPaper-root .MuiDialogActions-root .help-submit-button {
  background-color: #33b249 !important;
}
.help-dialog .MuiPaper-root .MuiDialogActions-root .help-cancel-button {
  background-color: red !important;
}
.help-dialog .MuiPaper-root .MuiDialogContent-root .MuiTypography-root {
  font-size: 18px !important;
}

.login-form {
  align-items: center;
}
.login-form .text-control {
  width: 100%;
}
.login-form .text-control .MuiFormControl-root .text-field-control {
  background-color: #fff;
}
.login-form .text-control .MuiFormControl-root .text-field-control .MuiInputBase-root fieldset {
  outline: 0;
  border: 0;
}
.login-form .submit-button {
  width: 100%;
  margin-top: 20px;
}

.register-form {
  width: 70%;
  align-items: center;
}
.register-form .text-control .MuiFormControl-root .text-field-control {
  background-color: #fff;
}
.register-form .text-control .MuiFormControl-root .text-field-control .MuiInputBase-root fieldset {
  outline: 0;
  border: 0;
}
.register-form .submit-button {
  margin-top: 20px;
  width: 100%;
}

.drawer-form {
  display: flex;
  flex-direction: column;
  padding: 35px 60px 0;
}
.drawer-form .select-control .MuiFormLabel-root {
  font-size: 20px;
}
.drawer-form .select-control .MuiFormLabel-root.Mui-focused {
  color: rgb(207, 152, 0);
  font-weight: 700;
}
.drawer-form .select-control .MuiOutlinedInput {
  -webkit-text-fill-color: none !important;
}
.drawer-form .select-control .MuiInputBase-root input:-webkit-autofill,
.drawer-form .select-control .MuiInputBase-root input:-webkit-autofill:hover,
.drawer-form .select-control .MuiInputBase-root input:-webkit-autofill:focus,
.drawer-form .select-control .MuiInputBase-root input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.drawer-form .select-control .MuiInputBase-root.Mui-focused fieldset {
  border-color: rgb(207, 152, 0);
}
.drawer-form .MuiFormControl-root {
  margin-top: 8px;
}
.drawer-form .MuiFormControl-root .text-field-control .MuiFormLabel-root {
  font-size: 20px;
}
.drawer-form .MuiFormControl-root .text-field-control .MuiFormLabel-root.Mui-focused {
  color: rgb(207, 152, 0);
  font-weight: 700;
}
.drawer-form .MuiFormControl-root .text-field-control .MuiOutlinedInput {
  -webkit-text-fill-color: none !important;
}
.drawer-form .MuiFormControl-root .text-field-control .MuiInputBase-root input:-webkit-autofill,
.drawer-form .MuiFormControl-root .text-field-control .MuiInputBase-root input:-webkit-autofill:hover,
.drawer-form .MuiFormControl-root .text-field-control .MuiInputBase-root input:-webkit-autofill:focus,
.drawer-form .MuiFormControl-root .text-field-control .MuiInputBase-root input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.drawer-form .MuiFormControl-root .text-field-control .MuiInputBase-root.Mui-focused fieldset {
  border-color: rgb(207, 152, 0);
}
.drawer-form .action-buttons {
  margin-left: auto;
}
.drawer-form .action-buttons .save-button {
  color: rgb(0, 193, 6);
  margin-left: auto;
}
.drawer-form .action-buttons .cancel-button {
  color: red;
}

.data-managment-drawer .MuiDrawer-paper {
  width: 30%;
  background: url("/images/drawer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1441px) {
  .data-managment-drawer .MuiDrawer-paper {
    background-size: 100% 100%;
    width: 25%;
    height: 100%;
  }
}

.drawer {
  width: 100%;
  background-size: cover;
  z-index: 1;
}
.drawer .drawer-header {
  text-align: center;
  padding-top: 60px;
}
.drawer .drawer-header span {
  font-size: 24px;
}

.text-control .text-field-control .MuiInput-root {
  padding: 0px 20px;
}

.select-control .MuiSelect-select {
  padding: 5px 20px !important;
  background: unset;
}
.select-control .MuiFormControl-root .helper-erorr {
  margin-top: 10px;
}

.MuiPickersPopper-root {
  margin-left: 24px !important;
}

.photo-control {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.photo-control .photo-button {
  margin-left: auto;
}
.photo-control .MuiAvatar-root {
  width: 100px;
  height: 100px;
}

.biography-modal {
  justify-content: center;
  display: flex;
  width: 1060px;
  margin: 0 auto;
  height: auto;
  top: 7% !important;
  bottom: 6% !important;
  border-radius: 10px;
  outline: unset;
}
.biography-modal .MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0);
}
.biography-modal .main-modal {
  width: 100%;
  display: block;
  padding: 0px 20px 20px 40px;
  background-image: url("/images/biography-bg.webp");
  background-size: 100% 100%;
  border-radius: 10px;
}
.biography-modal .main-modal .close {
  width: fit-content;
  font-size: 32px;
  cursor: pointer;
  margin-left: auto;
}
.biography-modal .main-modal .close:hover {
  filter: invert(21%) sepia(96%) saturate(7431%) hue-rotate(358deg) brightness(107%) contrast(111%);
}
.biography-modal .main-modal .modal-body {
  display: flex;
  flex-direction: column;
}
.biography-modal .main-modal .modal-body .full-name {
  font-size: 32px;
}
.biography-modal .main-modal .modal-body .biography {
  font-size: 30px;
}
.biography-modal .main-modal .modal-body .left .top span:not(:first-child), .biography-modal .main-modal .modal-body .left .top div:not(:first-child) {
  margin-top: 10px;
}
.biography-modal .main-modal .modal-body .label {
  font-size: 20px;
  font-weight: bold;
}
.biography-modal .main-modal .modal-body .spouse-info {
  display: flex;
  align-items: center;
}
.biography-modal .main-modal .modal-body .image {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: 20px;
}
.biography-modal .main-modal .modal-body .no-result {
  font-size: 30px;
  text-align: center;
}
.biography-modal .main-modal .modal-body .person-container {
  display: flex;
}
.biography-modal .main-modal .modal-body .person-container .left {
  display: flex;
  flex-direction: column;
}
.biography-modal .main-modal .modal-body .person-container .left .top {
  display: flex;
}
.biography-modal .main-modal .modal-body .person-container .left .top .right {
  margin-top: 45px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.biography-modal .main-modal .modal-body .person-container .left .top .right div strong {
  font-size: 18px;
}
.biography-modal .main-modal .modal-body .person-container .left .top .right div a {
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
}
.biography-modal .main-modal .modal-body .person-container .left .top .right div a:hover {
  text-decoration: unset;
  color: blue;
}
.biography-modal .main-modal .modal-body .person-container .left .top .right span {
  margin: 0;
  font-size: 18px;
}
.biography-modal .main-modal .modal-body .person-container .left .top .right span:not(:first-child) {
  margin-top: 5px;
}
.biography-modal .main-modal .modal-body .person-container .left .chip-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.biography-modal .main-modal .modal-body .person-container .left .chip-container .MuiChip-root {
  width: fit-content;
  border-radius: 2em;
  padding: 6px 0;
  border: 2px solid yellow;
  height: auto;
}
.biography-modal .main-modal .modal-body .person-container .left .chip-container .MuiChip-root .MuiAvatar-root {
  width: 30px;
  height: 30px;
}
.biography-modal .main-modal .modal-body .person-container .left .chip-container .MuiChip-root .MuiAvatar-root img {
  width: 30px;
  height: 30px;
}
.biography-modal .main-modal .modal-body .person-container .left .chip-container .MuiChip-root span {
  margin: 0;
  font-size: 16px;
}
.biography-modal .main-modal .modal-body .person-container .left .selected-person, .biography-modal .main-modal .modal-body .person-container .left .childrens {
  width: fit-content;
}
.biography-modal .main-modal .modal-body .person-container .left .selected-person .MuiChip-root, .biography-modal .main-modal .modal-body .person-container .left .childrens .MuiChip-root {
  display: flex;
  align-items: center;
  border-radius: 2em;
  padding: 6px 0;
  border: 2px solid yellow;
  height: auto;
}
.biography-modal .main-modal .modal-body .person-container .left .selected-person .MuiChip-root .MuiAvatar-root, .biography-modal .main-modal .modal-body .person-container .left .childrens .MuiChip-root .MuiAvatar-root {
  width: 30px;
  height: 30px;
}
.biography-modal .main-modal .modal-body .person-container .left .selected-person .MuiChip-root .MuiAvatar-root img, .biography-modal .main-modal .modal-body .person-container .left .childrens .MuiChip-root .MuiAvatar-root img {
  width: 30px;
  height: 30px;
}
.biography-modal .main-modal .modal-body .person-container .left .selected-person .MuiChip-root span, .biography-modal .main-modal .modal-body .person-container .left .childrens .MuiChip-root span {
  margin: 0;
  font-size: 16px;
}
.biography-modal .main-modal .modal-body .person-container .left label {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.biography-modal .main-modal .modal-body .person-container .left .childrens {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 12px;
  width: 100%;
}
.biography-modal .main-modal .modal-body .person-container .left .childrens .MuiChip-root {
  margin-right: 1%;
  cursor: pointer;
}
.biography-modal .main-modal .modal-body .person-container .left .childrens .MuiChip-root:nth-child(4n) {
  margin-right: 0;
}
.biography-modal .main-modal .modal-body .person-container .left .childrens .MuiChip-root:hover span {
  text-decoration: underline;
}
.biography-modal .main-modal .modal-body .person-container .person-right {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4%;
}
.biography-modal .main-modal .modal-body .person-container .person-right .person-biography-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.biography-modal .main-modal .modal-body .person-container .person-right .person-biography-container .biography-date {
  margin-bottom: 10px;
}
.biography-modal .main-modal .modal-body .person-container .person-right .person-biography-container span:not(:first-child) {
  margin-bottom: 10px;
}
.biography-modal .main-modal .modal-body .biography-desc {
  font-size: 16px;
  line-height: 24px;
  width: 400px;
  font-weight: 600;
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
  text-align: center;
  border: 2px solid yellow;
  border-radius: 15px;
}
.biography-modal .main-modal .modal-body .no-bold {
  font-weight: normal;
}
.biography-modal .main-modal .modal-body .biography-date {
  margin-top: 20px;
  font-size: 20px;
}
.biography-modal .main-modal .modal-footer {
  position: absolute;
  padding: 0 10px;
  bottom: 30px;
  width: fit-content;
  border: 1px solid yellow;
  border-radius: 10px;
}
.biography-modal .main-modal .modal-footer .footer-elements {
  width: fit-content;
}
.biography-modal .main-modal .modal-footer .footer-elements span {
  margin: 0 auto;
  font-size: 26px;
}
.biography-modal .main-modal .modal-footer .footer-elements span:hover {
  cursor: pointer;
  color: yellow;
}
.biography-modal .main-modal .modal-footer .footer-elements span:not(:first-child) {
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */
