.family-page {
    width: 100%;
    .content-container{
        padding: 20px 0 20px;
        
        span {
            font-size: 32px;
            font-family: 'NotoSerif';
        }
        .family-tabs-container {
            width: 89%;
            margin: 20px 0;
            background-color: $black;
            padding: 15px;
            border-radius: 15px;

            @media screen and(min-width: $break-xxl) {
                width: auto;
                max-width: 1331px;
            }
            .family-tabs {
                .MuiTabScrollButton-root {
                    display: none;
                }
                .family-tab {
                    &:not(:first-child){
                        margin-left: 10px;
                    }
                    background-color: $primary-backround;
                    border-radius: 15px;
                    color: $black;
                    font-weight: 700;
                }
            }
            
        }

        .familija{ 
            margin-bottom: 20px;
        }
        ul {
            height: auto;
            li {
                div {
                    .MuiTreeItem-label {
                        font-size: 26px;
                    }
                }
                ul {
                    div {
                        div {
                            li {
                                div {
                                    .MuiTreeItem-label {
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.MuiTreeView-root {

    max-width: fit-content !important;

}
.MuiCollapse-wrapperInner {
    min-width: max-content;
}