.family-page {
    width: 100%;
    .content-container{
        padding-top: 20px;
        span {
            font-size: 32px;
        }
        .family-tabs-container {
            width: 89%;
            margin: 20px 0;
            background-color: $black;
            padding: 15px;
            border-radius: 15px;

            @media screen and(min-width: $break-xxl) {
                width: auto;
                max-width: 1331px;
            }
            .family-tabs {
                .MuiTabScrollButton-root {
                    display: none;
                }
                .family-tab {
                    &:not(:first-child){
                        margin-left: 10px;
                    }
                    background-color: $primary-backround;
                    border-radius: 15px;
                    color: $black;
                    font-weight: 700;
                }
            }
            
        }
    }
}