.middle-container {
    display: flex;
    width: 100%;
    align-items: center;
    height: 94vh;
    justify-content: center;
    background-size: cover;
    background-image: url('/images/rsz_paper-real-background.jpg');
    opacity: 0.6;
}